@import '../../../style/variables.scss';

.keyboard-key--white {
    background-color: #f9f9f9;
    border: 1px solid #111;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    // box-shadow: 0 1px 3px #999;
    display: table-cell;
    height: $keyboardHeight;
    outline: none;
    width: $whiteKeyWidth;

    &:hover {
        background-color: #eee;
    }

    &:active {
        background-color: #ddd;
    }
}
