@import '../../../style/variables.scss';

.piano-key--black {
    background-color: #151515;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 3px #222;
    display: table-cell;
    height: $pianoHeight * 2 / 3;
    outline: none;
    position: absolute;
    transform: translateX(-12px);
    width: $whiteKeyWidth * .54;

    &:hover {
        background-color: #222;
    }

    &:active {
        background-color: #111;
    }
}
