@import '../../style/variables.scss';

.filter {
    border: 1px solid #fff;
    color: #fff;
    max-width: 300px;
    min-width: 300px;
    padding: 10px;

    &__header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
}
