html,
body {
    background: #fafafa;
    color: #444;
    font-family: 'Helvetica Neue', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
}

@import '../components/header/style.scss';
@import '../routes/studio/style.scss';
@import '../routes/notfound/style.scss';
@import '../components/Fader/Fader.scss';
@import '../components/Checkbox/Checkbox.scss';
@import '../components/Keyboard/Keyboard.scss';
@import '../components/VolumeFader/VolumeFader.scss';
@import '../components/MasterVolume/MasterVolume.scss';
@import '../components/MasterPan/MasterPan.scss';
@import '../components/Oscillator/Oscillator.scss';
@import '../components/OscillatorVolume/OscillatorVolume.scss';
@import '../components/OscillatorDetune/OscillatorDetune.scss';
@import '../components/OscillatorPan/OscillatorPan.scss';
