@import '../../style/variables.scss';
@import './BlackKey/BlackKey.scss';
@import './WhiteKey/WhiteKey.scss';

.keyboard {
    display: table-row;
    height: $keyboardHeight;
    position: relative;

    & > * {
        user-select: none;
    }
}
