@import '../../style/variables.scss';

.oscillator {
    border: 1px solid #fff;
    color: #fff;
    max-width: 300px;
    min-width: 150px;
    padding: 10px;
}

.oscillator__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
