@import '../../style/variables.scss';

.oscillator {
    align-items: center;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    min-width: 150px;
    padding: 10px;
}
