@import '../../../style/variables.scss';

.piano-key--white {
    background-color: #f9f9f9;
    border: 1px solid #111;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: table-cell;
    height: $pianoHeight;
    outline: none;
    width: $whiteKeyWidth;

    &:hover {
        background-color: #eee;
    }

    &:active {
        background-color: #ddd;
    }
}
